/JAVA_Gestio_Socis/Model/dist
/JAVA_Gestio_Socis/Interficie/dist/
/JAVA_Gestio_Socis/Persistencia/dist/
/JAVA_Gestio_Socis/Proves/dist/
/JAVA_Servidor_Android/Servidor_Android/nbproject/private/
/JAVA_Servidor_Android/Servidor_Android/build/